# Server port
PORT=3000

# MongoDB connection string
DB_URI_ATLAS=mongodb+srv://<username>:<password>@<cluster-address>/<database-name>
DB_URI_LOCAL=mongodb://localhost:27017/Social_App

# Salt rounds for hashing
SALT=12

# Encryption key for sensitive data
ENCRYPTION_KEY="your-encryption-key-here"

# JWT token signatures
TOKEN_SIGNATURE_User_ACCESS="your-user-access-token-signature"
TOKEN_SIGNATURE_Admin_ACCESS="your-admin-access-token-signature"
TOKEN_SIGNATURE_User_REFRESH="your-user-refresh-token-signature"
TOKEN_SIGNATURE_Admin_REFRESH="your-admin-refresh-token-signature"

# Google OAuth client ID
GOOGLE_CLIENT_ID="your-google-client-id"

# Email credentials for sending emails
EMAIL_USER="your-email@gmail.com"
EMAIL_PASS="your-gmail-app-password"

# Redis connection string
REDIS_URL = "rediss://default:<redisToken>@proper-buzzard-35925.upstash.io:6379"